<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Do Nothing for js and css and partials" stopProcessing="true">
          <match url=".js|.htm|.html|.css|.png|.jpg|.gif|.swf" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Redirect Views to index">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
